.content {
    display: flex;
    flex-wrap: wrap;

    /* Cho phép các phần tử xuống dòng khi không đủ không gian */
    .card {
        display: flex;
        flex-direction: column;
        /* Sắp xếp các phần tử theo chiều dọc */
        justify-content: space-between;
        /* Đảm bảo ảnh, thông tin, và nút bấm không chồng lấn */
        width: 18rem;
        height: 25rem;
        border: 1px solid #ddd;
        border-radius: 8px;
        margin: 10px;
    }

    .card-btn {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* Tạo khoảng cách đều giữa các nút */
    }

    .card img {
        width: 100%;
        height: 50%;
        object-fit: contain;
        /* Hiện full ảnh nhưng bị zoom*/
    }
}